#loginPage
{
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 700px;
    min-height: 100vh;
    margin: 0px auto;
    padding: 20px 55px 37px 55px;
}

#leftJustified 
{
    text-align: left;
}